<!DOCTYPE html>
  <head>
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" /> -->
  </head>

  <body class="m-0 p-0 bg-black" style="margin: 0; padding: 0; background-color: black;">
    <video
      id="my-video"
      class="video-js"
      controls
      data-setup='{ "aspectRatio":"16:9", "playbackRates": [0.5, 1, 1.25, 1.5, 2]}'
      preload="auto"
      data-setup="{}"
    >
      <source src={{ video_url }} type="video/mp4" />

      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
          >supports HTML5 video</a
        >
      </p>
    </video>
  </body>

</html>